.secretary-patients,
.secretary-patients * {
  box-sizing: border-box;
}
.secretary-patients {
  background: #eae8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.secretary-name {
  width: 160px;
  height: 57px;
  position: absolute;
  left: 1710px;
  top: 48px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.jomellir {
  color: #491d72;
  text-align: right;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 40.53%;
  left: 0%;
  width: 59.47%;
  bottom: 42.03%;
  top: 14.91%;
  height: 43.06%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 5.79%;
  left: 64.21%;
  width: 30%;
  bottom: 11.11%;
  top: 9.72%;
  height: 79.17%;
}
.secretary {
  color: #491d72;
  text-align: right;
  font: 400 14px "Montserrat-Regular", sans-serif;
  position: absolute;
  right: 40.33%;
  left: 10.72%;
  width: 48.95%;
  bottom: 20.83%;
  top: 52.78%;
  height: 26.39%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.we-smile-rects {
  width: 336px;
  height: 996px;
  position: absolute;
  left: 0px;
  top: 31px;
}
.rectangle-3 {
  background: #491d72;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 75.86%;
  top: 19.46%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 70.66%;
  top: 24.66%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appointments {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 66.08%;
  top: 29.34%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 61.39%;
  top: 33.92%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 56.82%;
  top: 38.61%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-settings {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 14.58%;
  left: 15.18%;
  width: 70.24%;
  bottom: 51.93%;
  top: 43.18%;
  height: 4.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-smile-logo-2-1 {
  position: absolute;
  right: 14.58%;
  left: 14.88%;
  width: 70.54%;
  bottom: 87.83%;
  top: 2.71%;
  height: 9.47%;
}
.forward {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 192px;
}
.forward2 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 242px;
}
.forward3 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 286px;
}
.forward4 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 331px;
}
.forward5 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 375px;
}
.forward6 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 421px;
}
.patients {
  color: #491d72;
  text-align: left;
  font: 700 36px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 510px;
  top: 105px;
  width: 593px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paatient-list {
  position: absolute;
  inset: 0;
}
.user-infos {
  width: 1053px;
  height: 40.18px;
  position: static;
}
.rectangle-31 {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #491d72;
  border-width: 0px 0px 1px 0px;
  width: 1053px;
  height: 40.18px;
  position: absolute;
  left: 510px;
  top: 467px;
}
.patient-name {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 573.47px;
  top: 471.38px;
  width: 130.41px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.age {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 767.01px;
  top: 471.38px;
  width: 56.19px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.id {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 518.32px;
  top: 471.38px;
  width: 46.82px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dentist {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 987.6px;
  top: 471.38px;
  width: 96.77px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1120.78px;
  top: 471.38px;
  width: 109.25px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-visit {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 836.72px;
  top: 471.38px;
  width: 109.25px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1289.34px;
  top: 471.38px;
  width: 83.24px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1372.59px;
  top: 471.38px;
  width: 169.86px;
  height: 32.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-66 {
  background: #ffffff;
  width: 1051.96px;
  height: 588.43px;
  position: absolute;
  left: 511.04px;
  top: 507.57px;
  overflow-y: auto;
}
.profile-pic {
  border-radius: 0px;
  width: 54px;
  height: 40px;
  position: absolute;
  left: 545px;
  top: 526px;
  overflow: visible;
}
.patient-list {
  position: absolute;
  inset: 0;
}
.patient-list2 {
  color: #491d72;
  text-align: left;
  font: 700 25px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 1059px;
  top: calc(50% - 133px);
  width: 335px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-33726 {
  width: 366px;
  height: 47px;
  position: static;
}
.add-patient {
  width: 190.89px;
  height: 47px;
  position: static;
}
.rectangle-28 {
  background: #7ed956;
  border-radius: 10px;
  width: 190.89px;
  height: 47px;
  position: absolute;
  left: 1372.11px;
  top: 403px;
}
.add-patient2 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 375.89px;
  top: calc(50% - 137px);
  width: 162.16px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 29px;
  height: 37px;
  position: absolute;
  left: 1197px;
  top: 407px;
}
.filter {
  width: 129.76px;
  height: 47px;
  position: static;
}
.rectangle-29 {
  background: rgba(165, 165, 165, 0.51);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(73, 29, 114, 0.26);
  border-width: 1px;
  width: 126.91px;
  height: 47px;
  position: absolute;
  left: 1236.63px;
  top: 403px;
}
.filter2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 553.61px;
  top: calc(50% - 134px);
  width: 71.84px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filter3 {
  width: 34.17px;
  height: 28px;
  position: absolute;
  left: 1253.23px;
  top: 412px;
}
.user-appointments {
  position: absolute;
  inset: 0;
}
.group-39 {
  width: 104.91px;
  height: 28.87px;
  position: static;
}
.rectangle-282 {
  background: #7ed956;
  border-radius: 5px;
  width: 104.91px;
  height: 28.87px;
  position: absolute;
  left: 1278.94px;
  top: 518px;
}
.approved {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 546.74px;
  top: calc(50% - 21px);
  width: 89.11px;
  height: 26.42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jomellir-c-cameros {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 585.96px;
  top: 512px;
  width: 181.05px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._01 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 518.32px;
  top: 512px;
  width: 62.43px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dr-diamano {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 978.23px;
  top: 512px;
  width: 113.42px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._639564732457 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1119.74px;
  top: 512px;
  width: 126.94px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apr-12-2023 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 836.72px;
  top: 511px;
  width: 124.86px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._22 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 767.01px;
  top: 511px;
  width: 69.71px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-40 {
  width: 96.77px;
  height: 36px;
  position: static;
}
.edit {
  width: 28.09px;
  height: 36px;
  position: absolute;
  left: 1470.66px;
  top: 516px;
}
.waste {
  width: 24.19px;
  height: 33.6px;
  position: absolute;
  left: 1506.55px;
  top: 516.8px;
}
.shortcut {
  width: 28.09px;
  height: 36px;
  position: absolute;
  left: 1433.98px;
  top: 516px;
}
.patient-group {
  position: absolute;
  inset: 0;
}
.all-patient-group {
  width: 250px;
  height: 180px;
  position: static;
}
.all-patient-rectangle {
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  position: absolute;
  left: 510px;
  top: 193px;
}
.group-33725 {
  width: 48px;
  height: 46px;
  position: static;
}
.tall-person {
  width: 48px;
  height: 46px;
  position: absolute;
  left: 531px;
  top: 254px;
}
.group-33724 {
  width: 151px;
  height: 44px;
  position: static;
}
.all-patients {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 531px;
  top: 211px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.as-of-2023 {
  color: #491d72;
  text-align: left;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 536px;
  top: 307px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._478 {
  color: #491d72;
  text-align: left;
  font: 700 30px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 594px;
  top: 256px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-33729 {
  width: 250px;
  height: 180px;
  position: static;
}
.new-patient-rectangle {
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  position: absolute;
  left: 778px;
  top: 193px;
}
.as-of-this-month {
  color: #491d72;
  text-align: left;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 812px;
  top: 305px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._101 {
  color: #491d72;
  text-align: left;
  font: 700 30px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 865px;
  top: 256px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-patients {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 806px;
  top: 206px;
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.add-new {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 807px;
  top: 255px;
}
.pending-patients {
  width: 250px;
  height: 180px;
  position: static;
}
.rectangle-36 {
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  position: absolute;
  left: 1048px;
  top: 193px;
}
.as-of-this-month2 {
  color: #491d72;
  text-align: left;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1080px;
  top: 305px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._23 {
  color: #491d72;
  text-align: left;
  font: 700 30px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1132px;
  top: 256px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pending-patients2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1074px;
  top: 206px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hourglass {
  width: 48px;
  height: 46px;
  position: absolute;
  left: 1074px;
  top: 254px;
}
.group-33727 {
  width: 250px;
  height: 180px;
  position: static;
}
.urgent-patients {
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  position: absolute;
  left: 1313px;
  top: 193px;
}
.as-of-this-month3 {
  color: #491d72;
  text-align: left;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1351px;
  top: 305px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._8 {
  color: #491d72;
  text-align: left;
  font: 700 30px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1403px;
  top: 256px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.urgent-patients2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1344px;
  top: 206px;
  width: 151px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.high-priority {
  width: 48px;
  height: 46px;
  position: absolute;
  left: 1344px;
  top: 255px;
}
.today {
  width: 110px;
  height: 56px;
  position: absolute;
  left: 1573px;
  top: 48px;
}
.today-is {
  color: #491d72;
  text-align: right;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 30.91%;
  width: 69.09%;
  bottom: 48.21%;
  top: 0%;
  height: 51.79%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nov-14-2023 {
  color: #491d72;
  text-align: right;
  font: 600 16px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 55.36%;
  height: 44.64%;
}
