.secretary-appointments,
.secretary-appointments * {
  box-sizing: border-box;
}
.secretary-appointments {
  background: #eae8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.secretary-name {
  width: 160px;
  height: 57px;
  position: absolute;
  left: 1710px;
  top: 31px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.jomellir {
  color: #491d72;
  text-align: right;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 40.53%;
  left: 0%;
  width: 59.47%;
  bottom: 42.03%;
  top: 14.91%;
  height: 43.06%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 5.79%;
  left: 64.21%;
  width: 30%;
  bottom: 11.11%;
  top: 9.72%;
  height: 79.17%;
}
.secretary {
  color: #491d72;
  text-align: right;
  font: 400 16px "Montserrat-Regular", sans-serif;
  position: absolute;
  right: 40.33%;
  left: 10.72%;
  width: 48.95%;
  bottom: 20.83%;
  top: 52.78%;
  height: 26.39%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.we-smile-rects {
  width: 336px;
  height: 996px;
  position: absolute;
  left: 0px;
  top: 31px;
}
.rectangle-3 {
  background: #491d72;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 75.86%;
  top: 19.46%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 70.66%;
  top: 24.66%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appointments {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 66.08%;
  top: 29.34%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 61.39%;
  top: 33.92%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 56.82%;
  top: 38.61%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-settings {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 14.58%;
  left: 15.18%;
  width: 70.24%;
  bottom: 51.93%;
  top: 43.18%;
  height: 4.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-smile-logo-2-1 {
  position: absolute;
  right: 14.58%;
  left: 14.88%;
  width: 70.54%;
  bottom: 87.83%;
  top: 2.71%;
  height: 9.47%;
}
.forward {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 192px;
}
.forward2 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 242px;
}
.forward3 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 286px;
}
.forward4 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 331px;
}
.forward5 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 375px;
}
.forward6 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 421px;
}
.appointments2 {
  color: #491d72;
  text-align: left;
  font: 700 36px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 510px;
  top: 88px;
  width: 469px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.all-appointments {
  color: #491d72;
  text-align: left;
  font: 700 25px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 1125px;
  top: calc(50% - 342px);
  width: 269px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-appointments {
  position: absolute;
  inset: 0;
}
.group-35 {
  width: 1207px;
  height: 53.12px;
  position: static;
}
.rectangle-31 {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #491d72;
  border-width: 0px 0px 1px 0px;
  width: 1207px;
  height: 53.12px;
  position: absolute;
  left: 510px;
  top: 248px;
}
.time {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 970px;
  top: 255px;
  width: 133px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-34 {
  width: 1197.46px;
  height: 44.79px;
  position: static;
}
.patient-name {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 642px;
  top: 253px;
  width: 141.93px;
  height: 43.32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 817px;
  top: 255px;
  width: 133px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.practitioner {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1123px;
  top: 254px;
  width: 134px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.concern {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1277px;
  top: 253px;
  width: 133px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1430px;
  top: 253px;
  width: 133px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1584px;
  top: 253px;
  width: 133px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.id {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 519.54px;
  top: 253.36px;
  width: 75.37px;
  height: 44.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointment-data {
  background: #ffffff;
  width: 1205.81px;
  height: 778.06px;
  position: absolute;
  left: 511.19px;
  top: 301.94px;
  overflow-y: auto;
}
._0001 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: -0.19px;
  top: 0.06px;
  width: 101px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._09-00-am {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 470.81px;
  top: 0.06px;
  width: 101px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jomellir-cameros {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 131.81px;
  top: 0.06px;
  width: 173px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.november-30 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 323.81px;
  top: 0.06px;
  width: 101px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dr-reyes {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 617.81px;
  top: 0.06px;
  width: 101px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consultation-3 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 764.81px;
  top: 0.06px;
  width: 147px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelled-button {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: rgba(236, 29, 16, 0.75);
  border-radius: 10px;
  position: absolute;
  right: 13.85%;
  left: 77.44%;
  width: 8.71%;
  bottom: 94.24%;
  top: 0.91%;
  height: 4.85%;
}
.urgent {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  right: 14.51%;
  left: 78.1%;
  width: 7.4%;
  bottom: 94.45%;
  top: 1.11%;
  height: 4.44%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions2 {
  position: absolute;
  inset: 0;
}
.edit {
  width: 28.09px;
  height: 36px;
  position: absolute;
  left: 1128.49px;
  top: 7.06px;
}
.waste {
  width: 24.19px;
  height: 33.6px;
  position: absolute;
  left: 1164.38px;
  top: 7.86px;
}
.shortcut {
  width: 28.09px;
  height: 36px;
  position: absolute;
  left: 1091.81px;
  top: 7.06px;
}
.new-appointment {
  position: absolute;
  inset: 0;
}
.rectangle-282 {
  background: #7ed956;
  border-radius: 10px;
  width: 203.04px;
  height: 46px;
  position: absolute;
  left: 1513.96px;
  top: 180px;
}
.new-appointment2 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 218.28px;
  top: calc(50% - 357.06px);
  width: 172.48px;
  height: 42.09px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 24px;
  height: 37px;
  position: absolute;
  left: 1262px;
  top: 184px;
}
.filter-today {
  position: absolute;
  inset: 0;
}
.rectangle-29 {
  background: rgba(165, 165, 165, 0.51);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(73, 29, 114, 0.26);
  border-width: 1px;
  width: 206.32px;
  height: 46px;
  position: absolute;
  left: 1300px;
  top: 180px;
}
.filter-today2 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 432.24px;
  top: calc(50% - 358.04px);
  width: 123.35px;
  height: 42.09px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  width: 39.3px;
  height: 27.4px;
  position: absolute;
  left: 1318.56px;
  top: 188.81px;
}
.today {
  width: 110px;
  height: 56px;
  position: absolute;
  left: 1576px;
  top: 31px;
}
.today-is {
  color: #491d72;
  text-align: right;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 30.91%;
  width: 69.09%;
  bottom: 48.21%;
  top: 0%;
  height: 51.79%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nov-14-2023 {
  color: #491d72;
  text-align: right;
  font: 600 16px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 55.36%;
  height: 44.64%;
}
