.secretary-patients-2-1,
.secretary-patients-2-1 * {
  box-sizing: border-box;
}
.secretary-patients-2-1 {
  background: #eae8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.secretary-name {
  width: 160px;
  height: 57px;
  position: absolute;
  left: 1710px;
  top: 29px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.jomellir {
  color: #491d72;
  text-align: right;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 40.53%;
  left: 0%;
  width: 59.47%;
  bottom: 42.03%;
  top: 14.91%;
  height: 43.06%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 5.79%;
  left: 64.21%;
  width: 30%;
  bottom: 11.11%;
  top: 9.72%;
  height: 79.17%;
}
.secretary {
  color: #491d72;
  text-align: right;
  font: 400 14px "Montserrat-Regular", sans-serif;
  position: absolute;
  right: 40.33%;
  left: 10.72%;
  width: 48.95%;
  bottom: 20.83%;
  top: 52.78%;
  height: 26.39%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.we-smile-rects {
  width: 336px;
  height: 996px;
  position: absolute;
  left: 0px;
  top: 31px;
}
.rectangle-3 {
  background: #491d72;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 75.86%;
  top: 19.46%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 70.66%;
  top: 24.66%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appointments {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 66.08%;
  top: 29.34%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 61.39%;
  top: 33.92%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 56.82%;
  top: 38.61%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-settings {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 14.58%;
  left: 15.18%;
  width: 70.24%;
  bottom: 51.93%;
  top: 43.18%;
  height: 4.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-smile-logo-2-1 {
  position: absolute;
  right: 14.58%;
  left: 14.88%;
  width: 70.54%;
  bottom: 87.83%;
  top: 2.71%;
  height: 9.47%;
}
.forward {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 192px;
}
.forward2 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 242px;
}
.forward3 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 286px;
}
.forward4 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 331px;
}
.forward5 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 375px;
}
.forward6 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 421px;
}
.patient-information {
  color: #491d72;
  text-align: left;
  font: 700 36px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 510px;
  top: 105px;
  width: 604px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appoinment-information-rect-2 {
  background: #ffffff;
  border-radius: 10px;
  width: 677px;
  height: 374px;
  position: absolute;
  left: 510px;
  top: 193px;
  overflow: hidden;
}
.id-01 {
  color: #491d72;
  text-align: right;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 32px;
  top: 27px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.address {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 176px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.daro-dumaguete-city-6100 {
  color: #491d72;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 213px;
  width: 210px;
  height: 52px;
}
._639564732457 {
  color: #491d72;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 302px;
  width: 210px;
  height: 48px;
}
.camerosjomellir-gmail-com {
  color: #491d72;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 356px;
  top: 213px;
  width: 210px;
  height: 48px;
}
.phone {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 265px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.email {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 356px;
  top: 176px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient-info {
  position: absolute;
  inset: 0;
}
.jomellir-c-cameros-21 {
  color: #491d72;
  text-align: left;
  font: 700 18px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 167.92px;
  top: 27px;
  width: 247.52px;
  height: 36.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.last-visit-nov-15-2023 {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 169.99px;
  top: 63.35px;
  width: 245.44px;
  height: 27.51px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient-pic {
  background: #d9d9d9;
  border-radius: 10px;
  width: 126.35px;
  height: 112px;
  position: absolute;
  left: 25px;
  top: 27px;
}
.gender {
  width: 101.49px;
  height: 39.3px;
  position: static;
}
.rectangle-39 {
  background: rgba(126, 217, 86, 0.82);
  border-radius: 10px;
  width: 101.49px;
  height: 39.3px;
  position: absolute;
  left: 167.92px;
  top: 99.7px;
}
.group-44 {
  width: 82.85px;
  height: 24.56px;
  position: static;
}
.male {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 212.45px;
  top: 106.58px;
  width: 53.85px;
  height: 24.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.male2 {
  width: 20.71px;
  height: 24.56px;
  position: absolute;
  left: 183.45px;
  top: 106.58px;
}
.tooth-extraction {
  width: 179.16px;
  height: 39.3px;
  position: static;
}
.rectangle-40 {
  background: rgba(126, 217, 86, 0.82);
  border-radius: 10px;
  width: 179.16px;
  height: 39.3px;
  position: absolute;
  left: 281.84px;
  top: 99.7px;
}
.group-46 {
  width: 158.89px;
  height: 25.14px;
  position: static;
}
.tooth-cracked {
  width: 24.94px;
  height: 24.56px;
  position: absolute;
  left: 297.11px;
  top: 106.58px;
}
.tooth-extraction2 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 327px;
  top: 106px;
  width: 129px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.place-marker {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 27px;
  top: 182px;
}
.phone2 {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 27px;
  top: 271px;
}
.at-sign {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 320px;
  top: 182px;
}
.payment-history {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  width: 1053px;
  height: 267px;
  position: absolute;
  left: 510px;
  top: 813px;
  overflow: hidden;
}
.payment-history2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 13px;
  width: 171px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history {
  background: #ffffff;
  border-radius: 10px;
  width: 341px;
  height: 374px;
  position: absolute;
  left: 1222px;
  top: 193px;
  overflow: hidden;
}
.line-1 {
  border-style: solid;
  border-color: #7ed956;
  border-width: 3px 0 0 0;
  width: 232px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 88px;
  transform-origin: 0 0;
  transform: rotate(89.753deg) scale(1, 1);
}
.history2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 38px;
  top: 23px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history-info-4 {
  position: absolute;
  inset: 0;
}
.appointment-created {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 302px;
  width: 181px;
  height: 18px;
}
.nov-11-2023-1-24-pm {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 320px;
  width: 181px;
  height: 18px;
}
.history-info-3 {
  position: absolute;
  inset: 0;
}
.checkup {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 97px;
  top: 222px;
  width: 181px;
  height: 18px;
}
.nov-12-2023-1-24-pm {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 98px;
  top: 240px;
  width: 181px;
  height: 18px;
}
.history-info-2 {
  position: absolute;
  inset: 0;
}
.dental-cleaning {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 147px;
  width: 181px;
  height: 18px;
}
.nov-13-2023-1-24-pm {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 165px;
  width: 181px;
  height: 18px;
}
.history-info-1 {
  position: absolute;
  inset: 0;
}
.tooth-extraction3 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 71px;
  width: 181px;
  height: 18px;
}
.nov-15-2023-1-24-pm {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 89px;
  width: 181px;
}
.history-pic-3 {
  position: absolute;
  inset: 0;
}
.ellipse-7 {
  background: #7ed956;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 38px;
  top: 223px;
}
.toothpaste {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 47px;
  top: 229px;
}
.history-pic-2 {
  position: absolute;
  inset: 0;
}
.ellipse-6 {
  background: #7ed956;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 38px;
  top: 147px;
}
.toothpaste2 {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 47px;
  top: 153px;
}
.history-pic-1 {
  position: absolute;
  inset: 0;
}
.ellipse-5 {
  background: #7ed956;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 38px;
  top: 71px;
}
.toothpaste3 {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 47px;
  top: 77px;
}
.history-pic-4 {
  height: auto;
  position: absolute;
  left: 38px;
  top: 302px;
  overflow: visible;
}
.note-for-patient {
  position: absolute;
  inset: 0;
}
.note-for-patient2 {
  background: #ffffff;
  border-radius: 10px;
  width: 341.11px;
  height: 178px;
  position: absolute;
  left: 1221.89px;
  top: 600px;
  overflow: hidden;
}
.note {
  position: absolute;
  inset: 0;
}
.note-for-patient3 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 13px;
  width: 134px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-57 {
  width: 35px;
  height: 35px;
  position: static;
}
.ellipse-9 {
  background: #7ed956;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 267px;
  top: 15px;
}
.edit {
  width: 21px;
  height: 26px;
  position: absolute;
  left: 274px;
  top: 20px;
}
.group-59 {
  width: 35px;
  height: 35px;
  position: static;
}
.group-58 {
  width: 35px;
  height: 35px;
  position: static;
}
.ellipse-92 {
  background: #7ed956;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 224px;
  top: 15px;
}
.share {
  width: 21px;
  height: 26px;
  position: absolute;
  left: 230px;
  top: 19px;
}
.assigned-doctor {
  position: absolute;
  inset: 0;
}
.frame-73 {
  background: #ffffff;
  border-radius: 10px;
  width: 676.93px;
  height: 178px;
  position: absolute;
  left: 510px;
  top: 600px;
  overflow: hidden;
}
.assigned-doctor2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 13px;
  width: 171px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.assigned-info {
  width: 614.92px;
  height: 90px;
  position: static;
}
.doctor-pic {
  background: #d9d9d9;
  border-radius: 10px;
  width: 106.99px;
  height: 90px;
  position: absolute;
  left: 538.6px;
  top: 659px;
}
.dr-anna-lyn-jimena-abella {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 674.2px;
  top: 666px;
  width: 270.14px;
  height: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.dentist {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 674.2px;
  top: 711px;
  width: 270.14px;
  height: 38px;
}
.details {
  width: 104.31px;
  height: 44px;
  position: static;
}
.rectangle-28 {
  background: #7ed956;
  border-radius: 10px;
  width: 104.31px;
  height: 44px;
  position: absolute;
  left: 1049.21px;
  top: 682px;
}
.details2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - -97.69px);
  top: calc(50% - -142px);
  width: 93.24px;
  height: 42.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reassign {
  width: 104.31px;
  height: 44px;
  position: static;
}
.rectangle-282 {
  background: #7ed956;
  border-radius: 10px;
  width: 104.31px;
  height: 44px;
  position: absolute;
  left: 934.8px;
  top: 682px;
}
.reassign2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 16.72px);
  top: calc(50% - -142px);
  width: 93.24px;
  height: 42.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today {
  width: 110px;
  height: 56px;
  position: absolute;
  left: 1578px;
  top: 31px;
}
.today-is {
  color: #491d72;
  text-align: right;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 30.91%;
  width: 69.09%;
  bottom: 48.21%;
  top: 0%;
  height: 51.79%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nov-14-2023 {
  color: #491d72;
  text-align: right;
  font: 600 16px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 55.36%;
  height: 44.64%;
}
