.secretary-appointment-2-0,
.secretary-appointment-2-0 * {
  box-sizing: border-box;
}
.secretary-appointment-2-0 {
  background: #eae8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.secretary-name {
  width: 160px;
  height: 57px;
  position: absolute;
  left: 1710px;
  top: 29px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.jomellir {
  color: #491d72;
  text-align: right;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 40.53%;
  left: 0%;
  width: 59.47%;
  bottom: 42.03%;
  top: 14.91%;
  height: 43.06%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 5.79%;
  left: 64.21%;
  width: 30%;
  bottom: 11.11%;
  top: 9.72%;
  height: 79.17%;
}
.secretary {
  color: #491d72;
  text-align: right;
  font: 400 14px "Montserrat-Regular", sans-serif;
  position: absolute;
  right: 40.33%;
  left: 10.72%;
  width: 48.95%;
  bottom: 20.83%;
  top: 52.78%;
  height: 26.39%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.we-smile-rects {
  width: 336px;
  height: 996px;
  position: absolute;
  left: 0px;
  top: 31px;
}
.rectangle-3 {
  background: #491d72;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 75.86%;
  top: 19.46%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 70.66%;
  top: 24.66%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appointments {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 66.08%;
  top: 29.34%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 61.39%;
  top: 33.92%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 56.82%;
  top: 38.61%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-settings {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 14.58%;
  left: 15.18%;
  width: 70.24%;
  bottom: 51.93%;
  top: 43.18%;
  height: 4.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-smile-logo-2-1 {
  position: absolute;
  right: 14.58%;
  left: 14.88%;
  width: 70.54%;
  bottom: 87.83%;
  top: 2.71%;
  height: 9.47%;
}
.forward {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 192px;
}
.forward2 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 242px;
}
.forward3 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 286px;
}
.forward4 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 331px;
}
.forward5 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 375px;
}
.forward6 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 421px;
}
.appointment-information {
  color: #491d72;
  text-align: left;
  font: 700 36px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 510px;
  top: 105px;
  width: 604px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appoinment-info-rects {
  background: #ffffff;
  border-radius: 10px;
  width: 677px;
  height: 374px;
  position: absolute;
  left: 510px;
  top: 193px;
  overflow: hidden;
}
.id-01 {
  color: #491d72;
  text-align: right;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 32px;
  top: 27px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._639564732457 {
  color: #491d72;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 302px;
  width: 210px;
  height: 48px;
}
.camerosjomellir-gmail-com {
  color: #491d72;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 66px;
  top: 217px;
  width: 210px;
  height: 48px;
}
.phone {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 63px;
  top: 265px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.email {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 66px;
  top: 180px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.concern {
  color: #a5a5a5;
  text-align: left;
  font: 700 12px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 381px;
  top: 180px;
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tooth-cracked {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 352px;
  top: 186px;
}
.new-patient-group {
  position: absolute;
  inset: 0;
}
.jomellir-c-cameros-21 {
  color: #491d72;
  text-align: left;
  font: 700 18px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 167.92px;
  top: 27px;
  width: 247.52px;
  height: 36.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-patient {
  color: #491d72;
  text-align: left;
  font: 500 12px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 169.99px;
  top: 60.35px;
  width: 245.44px;
  height: 27.51px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient-pic {
  background: #d9d9d9;
  border-radius: 10px;
  width: 126.35px;
  height: 112px;
  position: absolute;
  left: 25px;
  top: 27px;
}
.gender {
  width: 101.49px;
  height: 39.3px;
  position: static;
}
.rectangle-39 {
  background: rgba(126, 217, 86, 0.82);
  border-radius: 10px;
  width: 101.49px;
  height: 39.3px;
  position: absolute;
  left: 167.92px;
  top: 99.7px;
}
.group-44 {
  width: 82.85px;
  height: 24.56px;
  position: static;
}
.male {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 212.45px;
  top: 106.58px;
  width: 53.85px;
  height: 24.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.male2 {
  width: 20.71px;
  height: 24.56px;
  position: absolute;
  left: 183.45px;
  top: 106.58px;
}
.phone2 {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 27px;
  top: 271px;
}
.at-sign {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 30px;
  top: 186px;
}
.view-patient {
  position: absolute;
  inset: 0;
}
.group-47 {
  width: 150px;
  height: 39px;
  position: static;
}
.rectangle-40 {
  background: rgba(126, 217, 86, 0.82);
  border-radius: 10px;
  width: 150px;
  height: 39px;
  position: absolute;
  left: 287px;
  top: 100px;
}
.group-46 {
  width: 129.57px;
  height: 24.95px;
  position: static;
}
.tooth-cracked2 {
  width: 20.88px;
  height: 24.38px;
  position: absolute;
  left: 296.77px;
  top: 107.52px;
}
.view-patient2 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 326.13px;
  top: 106.95px;
  width: 100.21px;
  height: 24.81px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.eye {
  width: 23.86px;
  height: 24.81px;
  position: absolute;
  left: 294.64px;
  top: 106.95px;
}
.consultation {
  position: absolute;
  inset: 0;
}
.rectangle-23 {
  background: #7ed956;
  border-radius: 10px;
  width: 112.83px;
  height: 36px;
  position: absolute;
  left: 352px;
  top: 229px;
}
.consultation2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  left: 358.26px;
  top: 233px;
  width: 100.12px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.rectangle-232 {
  background: #7ed956;
  border-radius: 10px;
  width: 112.83px;
  height: 36px;
  position: absolute;
  left: 352px;
  top: 278px;
}
.bridges {
  color: #491d72;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  left: 370.09px;
  top: 282px;
  width: 74.93px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cleaning {
  position: absolute;
  inset: 0;
}
.rectangle-233 {
  background: #7ed956;
  border-radius: 10px;
  width: 112.83px;
  height: 36px;
  position: absolute;
  left: 475.17px;
  top: 229px;
}
.rectangle-24 {
  background: #7ed956;
  border-radius: 10px;
  width: 112.83px;
  height: 36px;
  position: absolute;
  left: 475.17px;
  top: 229px;
}
.cleaning2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  left: 493.26px;
  top: 233px;
  width: 74.93px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bridges2 {
  position: absolute;
  inset: 0;
}
.message {
  background: #ffffff;
  border-radius: 10px;
  width: 677px;
  height: 214px;
  position: absolute;
  left: 510px;
  top: 813px;
  overflow: hidden;
}
.message2 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 13px;
  width: 171px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.i-want-to-have-my-teeth-checked-up-and-papasta-sa-uban-teeth-i-want-to-also-install-bridges-in-my-teeth {
  color: #491d72;
  text-align: left;
  font: 500 16px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 41px;
  top: 50px;
  width: 595px;
  height: 134px;
}
.message-2 {
  background: #ffffff;
  border-radius: 10px;
  width: 341px;
  height: 214px;
  position: absolute;
  left: 1222px;
  top: 813px;
  overflow: hidden;
}
.edit-appoinment {
  background: #ffffff;
  border-radius: 10px;
  width: 341px;
  height: 117px;
  position: absolute;
  left: 1222px;
  top: 193px;
  overflow: hidden;
}
.edit-appointment {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 8px;
  width: 171px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cancel {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: rgba(236, 29, 16, 0.75);
  border-radius: 10px;
  position: absolute;
  right: 49.85%;
  left: 7.92%;
  width: 42.23%;
  bottom: 18.8%;
  top: 42.74%;
  height: 38.46%;
}
.cancel2 {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  right: 53.03%;
  left: 11.1%;
  width: 35.87%;
  bottom: 20.44%;
  top: 44.37%;
  height: 35.19%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reschedule {
  position: absolute;
  inset: 0;
}
.rectangle-282 {
  background: rgba(16, 157, 236, 0.75);
  border-radius: 10px;
  position: absolute;
  right: 6.45%;
  left: 55.13%;
  width: 38.42%;
  bottom: 18.8%;
  top: 43.59%;
  height: 37.61%;
}
.reschedule2 {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Inter-Bold", sans-serif;
  position: absolute;
  right: 9.34%;
  left: 58.02%;
  width: 32.63%;
  bottom: 20.4%;
  top: 45.19%;
  height: 34.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointments-details {
  background: #ffffff;
  border-radius: 10px;
  width: 341px;
  height: 425px;
  position: absolute;
  left: 1222px;
  top: 346px;
  overflow: hidden;
}
.line-1 {
  border-style: solid;
  border-color: #7ed956;
  border-width: 3px 0 0 0;
  width: 256.42px;
  height: 0px;
  position: absolute;
  left: 53.74px;
  top: 96.79px;
  transform-origin: 0 0;
  transform: rotate(89.738deg) scale(1, 1);
}
.appointment {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 38px;
  top: 23px;
  width: 124px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appoinment-created {
  position: absolute;
  inset: 0;
}
.appointment-created {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 334px;
  width: 180px;
  height: 20px;
}
.nov-28-2023-1-24-pm {
  color: #491d72;
  text-align: left;
  font: 500 14px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 354px;
  width: 180px;
  height: 20px;
}
.last-visit {
  position: absolute;
  inset: 0;
}
.last-visit2 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 97px;
  top: 245px;
  width: 180px;
  height: 20px;
}
.none {
  color: #491d72;
  text-align: left;
  font: 500 14px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 98px;
  top: 265px;
  width: 180px;
  height: 20px;
}
.time {
  position: absolute;
  inset: 0;
}
.time2 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 162px;
  width: 180px;
  height: 20px;
}
._9-00-am {
  color: #491d72;
  text-align: left;
  font: 500 14px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 182px;
  width: 180px;
  height: 20px;
}
.date {
  position: absolute;
  inset: 0;
}
.date2 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 96px;
  top: 78px;
  width: 180px;
  height: 20px;
}
.november-30-2023 {
  color: #491d72;
  text-align: left;
  font: 500 14px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 97px;
  top: 96px;
  width: 181px;
}
.group-51 {
  position: absolute;
  inset: 0;
}
.ellipse-7 {
  background: #7ed956;
  border-radius: 50%;
  width: 41px;
  height: 38.68px;
  position: absolute;
  left: 35px;
  top: 246px;
}
.toothpaste {
  width: 21.09px;
  height: 26.53px;
  position: absolute;
  left: 45.54px;
  top: 252.63px;
}
.group-50 {
  position: absolute;
  inset: 0;
}
.ellipse-6 {
  background: #7ed956;
  border-radius: 50%;
  width: 41px;
  height: 38.68px;
  position: absolute;
  left: 35px;
  top: 162px;
}
.toothpaste2 {
  width: 21.09px;
  height: 26.53px;
  position: absolute;
  left: 45.54px;
  top: 168.63px;
}
.group-49 {
  position: absolute;
  inset: 0;
}
.ellipse-5 {
  background: #7ed956;
  border-radius: 50%;
  width: 41px;
  height: 38.68px;
  position: absolute;
  left: 35px;
  top: 78px;
}
.toothpaste3 {
  width: 21.09px;
  height: 26.53px;
  position: absolute;
  left: 45.54px;
  top: 84.63px;
}
.group-52 {
  height: auto;
  position: absolute;
  left: 35px;
  top: 333.32px;
  overflow: visible;
}
.assigned-doctor {
  position: absolute;
  inset: 0;
}
.assigned-doctor2 {
  background: #ffffff;
  border-radius: 10px;
  width: 676.93px;
  height: 178px;
  position: absolute;
  left: 510px;
  top: 600px;
  overflow: hidden;
}
.assigned-doctor3 {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 27px;
  top: 13px;
  width: 171px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-60 {
  width: 614.92px;
  height: 90px;
  position: static;
}
.doctor-pic {
  background: #d9d9d9;
  border-radius: 10px;
  width: 106.99px;
  height: 90px;
  position: absolute;
  left: 538.6px;
  top: 659px;
}
.dr-anna-lyn-jimena-abella {
  color: #491d72;
  text-align: left;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 674.2px;
  top: 666px;
  width: 270.14px;
  height: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.dentist {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 674.2px;
  top: 711px;
  width: 270.14px;
  height: 38px;
}
.group {
  width: 104.31px;
  height: 44px;
  position: static;
}
.details {
  background: #7ed956;
  border-radius: 10px;
  width: 104.31px;
  height: 44px;
  position: absolute;
  left: 1049.21px;
  top: 682px;
}
.details2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - -97.69px);
  top: calc(50% - -142px);
  width: 93.24px;
  height: 42.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reassign {
  width: 104.31px;
  height: 44px;
  position: static;
}
.rectangle-283 {
  background: #7ed956;
  border-radius: 10px;
  width: 104.31px;
  height: 44px;
  position: absolute;
  left: 934.8px;
  top: 682px;
}
.reassign2 {
  color: #491d72;
  text-align: center;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 16.72px);
  top: calc(50% - -142px);
  width: 93.24px;
  height: 42.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today {
  width: 110px;
  height: 56px;
  position: absolute;
  left: 1578px;
  top: 31px;
}
.today-is {
  color: #491d72;
  text-align: right;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 30.91%;
  width: 69.09%;
  bottom: 48.21%;
  top: 0%;
  height: 51.79%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nov-14-2023 {
  color: #491d72;
  text-align: right;
  font: 600 16px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 55.36%;
  height: 44.64%;
}
