.secretary-doctors,
.secretary-doctors * {
  box-sizing: border-box;
}
.secretary-doctors {
  background: #eae8ff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.secretary-name {
  width: 160px;
  height: 57px;
  position: absolute;
  left: 1710px;
  top: 32px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.jomellir {
  color: #491d72;
  text-align: right;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 40.53%;
  left: 0%;
  width: 59.47%;
  bottom: 42.03%;
  top: 14.91%;
  height: 43.06%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  right: 5.79%;
  left: 64.21%;
  width: 30%;
  bottom: 11.11%;
  top: 9.72%;
  height: 79.17%;
}
.secretary {
  color: #491d72;
  text-align: right;
  font: 400 16px "Montserrat-Regular", sans-serif;
  position: absolute;
  right: 40.33%;
  left: 10.72%;
  width: 48.95%;
  bottom: 20.83%;
  top: 52.78%;
  height: 26.39%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.we-smile-rects {
  width: 336px;
  height: 996px;
  position: absolute;
  left: 0px;
  top: 31px;
}
.rectangle-3 {
  background: #491d72;
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 75.86%;
  top: 19.46%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 70.66%;
  top: 24.66%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.appointments {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 66.08%;
  top: 29.34%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.patient {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 61.39%;
  top: 33.92%;
  height: 4.68%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 24.11%;
  left: 14.88%;
  width: 61.01%;
  bottom: 56.82%;
  top: 38.61%;
  height: 4.58%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-settings {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 14.58%;
  left: 15.18%;
  width: 70.24%;
  bottom: 51.93%;
  top: 43.18%;
  height: 4.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-smile-logo-2-1 {
  position: absolute;
  right: 14.58%;
  left: 14.88%;
  width: 70.54%;
  bottom: 87.83%;
  top: 2.71%;
  height: 9.47%;
}
.forward {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 192px;
}
.forward2 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 242px;
}
.forward3 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 286px;
}
.forward4 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 331px;
}
.forward5 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 375px;
}
.forward6 {
  width: 15px;
  height: 36px;
  position: absolute;
  left: 287px;
  top: 421px;
}
.doctors2 {
  color: #491d72;
  text-align: left;
  font: 700 34px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 510px;
  top: 89px;
  width: 582px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors-info {
  background: #ffffff;
  border-radius: 20px;
  width: 411px;
  height: 406px;
  position: absolute;
  left: 510px;
  top: 177px;
  overflow: hidden;
}
.dr-anna-lyn-jimena-abella {
  color: #491d72;
  text-align: left;
  font: 700 18px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 22px;
  top: 8px;
  width: 312px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dentist {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 23px;
  top: 46px;
  width: 214px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.actions {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 23px;
  top: 228px;
  width: 214px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctor-2 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 128px;
  height: 128px;
  position: absolute;
  left: 254px;
  top: 77px;
}
.doctor-status {
  position: absolute;
  inset: 0;
}
.doctor-1 {
  background: #ffffff;
  border-radius: 10px;
  width: 215px;
  height: 128px;
  position: absolute;
  left: 22px;
  top: 77px;
}
.group-41 {
  width: 176px;
  height: 107px;
  position: static;
}
.age-29 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 42px;
  top: 84px;
  width: 94px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gender-female {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 42px;
  top: 113px;
  width: 126px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.status-online {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 42px;
  top: 142px;
  width: 126px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-09763032567 {
  color: #491d72;
  text-align: left;
  font: 700 14px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 42px;
  top: 167px;
  width: 176px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-37 {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: #7ed956;
  border-radius: 10px;
  width: 183.46px;
  height: 47px;
  position: absolute;
  left: 23px;
  top: 258px;
}
.show-appointments {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 182.5px);
  top: calc(50% - -56px);
  width: 178px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-44 {
  position: absolute;
  inset: 0;
}
.rectangle-282 {
  background: #7ed956;
  border-radius: 10px;
  width: 164px;
  height: 47px;
  position: absolute;
  left: 218px;
  top: 257px;
}
.send-report {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - -25.5px);
  top: calc(50% - -55px);
  width: 146.6px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-43 {
  position: absolute;
  inset: 0;
}
.rectangle-283 {
  background: #7ed956;
  border-radius: 10px;
  width: 183.46px;
  height: 47px;
  position: absolute;
  left: 22px;
  top: 316px;
}
.show-history {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 168.5px);
  top: calc(50% - -114px);
  width: 164px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctors-info-2 {
  background: #ffffff;
  border-radius: 20px;
  width: 411px;
  height: 406px;
  position: absolute;
  left: 510px;
  top: 621px;
  overflow: hidden;
}
.dr-nemesio-noble-reyes-jr {
  color: #491d72;
  text-align: left;
  font: 700 18px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 22px;
  top: 8px;
  width: 299px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.show-appointments2 {
  position: absolute;
  inset: 0;
}
.show-appointments3 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 183.5px);
  top: calc(50% - -56px);
  width: 179px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-report2 {
  position: absolute;
  inset: 0;
}
.send-report3 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - -25.5px);
  top: calc(50% - -56px);
  width: 146.6px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-history2 {
  position: absolute;
  inset: 0;
}
.show-history3 {
  color: #491d72;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 169.5px);
  top: calc(50% - -114px);
  width: 164px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today {
  width: 110px;
  height: 56px;
  position: absolute;
  left: 1579px;
  top: 32px;
}
.today-is {
  color: #491d72;
  text-align: right;
  font: 600 14px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 30.91%;
  width: 69.09%;
  bottom: 48.21%;
  top: 0%;
  height: 51.79%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.nov-14-2023 {
  color: #491d72;
  text-align: right;
  font: 600 16px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 55.36%;
  height: 44.64%;
}
.assignment-appointments {
  position: absolute;
  inset: 0;
}
.assigned-appoinments {
  width: 641.62px;
  height: 850px;
  position: static;
}
.assigned-appoinments-rect {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 602.2px;
  height: 850px;
  position: absolute;
  left: 960.8px;
  top: 177px;
  box-shadow: 10px 4px 25.6px 0px rgba(0, 0, 0, 0.25);
}
.group-25 {
  width: 607.76px;
  height: 798.33px;
  position: static;
}
.november-2023 {
  color: #491d72;
  text-align: left;
  font: 700 23px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1013.59px;
  top: 246.79px;
  width: 453.6px;
  height: 42.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dr-reyes {
  color: #491d72;
  text-align: right;
  font: 700 18px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1410.88px;
  top: 204.08px;
  width: 115.91px;
  height: 42.71px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.assigned-appointments {
  color: #491d72;
  text-align: left;
  font: 700 25px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1013.48px;
  top: 204.08px;
  width: 453.6px;
  height: 42.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.upcoming-appointments {
  color: #491d72;
  text-align: left;
  font: 600 20px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1021.86px;
  top: 396.42px;
  width: 453.6px;
  height: 42.75px;
}
.today-nov-11 {
  color: #a6a6a6;
  text-align: left;
  font: 600 15px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1031.5px;
  top: 443.45px;
  width: 197.16px;
  height: 27.79px;
}
.monday-nov-13 {
  color: #a6a6a6;
  text-align: left;
  font: 600 15px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1031.5px;
  top: 688.2px;
  width: 197.16px;
  height: 27.79px;
}
.group-16 {
  width: 515.66px;
  height: 68.4px;
  position: static;
}
.group-9 {
  width: 70.31px;
  height: 68.4px;
  position: static;
}
.rectangle-16 {
  background: #491d72;
  border-radius: 5px;
  width: 66.18px;
  height: 68.4px;
  position: absolute;
  left: 1016.24px;
  top: 296.79px;
}
._11 {
  color: #eae8ff;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1013.48px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-9 {
  background: #eae8ff;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1035.54px;
  top: 306.41px;
}
.group-10 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._12 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1086.56px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-10 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1108.62px;
  top: 306.41px;
}
.group-11 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._13 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1161.01px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-11 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1183.07px;
  top: 306.41px;
}
.group-12 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._14 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1235.47px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-12 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1257.53px;
  top: 306.41px;
}
.group-13 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._15 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1308.54px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-13 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1330.6px;
  top: 306.41px;
}
.group-14 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._16 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1380.24px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-14 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1402.3px;
  top: 306.41px;
}
.group-15 {
  width: 70.31px;
  height: 58.78px;
  position: static;
}
._17 {
  color: #491d72;
  text-align: center;
  font: 700 35px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1458.83px;
  top: 312.82px;
  width: 70.31px;
  height: 52.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-15 {
  background: #cdcce0;
  border-radius: 50px;
  width: 27.57px;
  height: 6.41px;
  position: absolute;
  left: 1480.89px;
  top: 306.41px;
}
.group-19 {
  width: 581.65px;
  height: 83.36px;
  position: static;
}
.upcoming-appoinments-info {
  background: #491d72;
  border-radius: 10px;
  width: 471.52px;
  height: 83.36px;
  position: absolute;
  left: 1031.51px;
  top: 471.23px;
}
.rectangle-20 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 84.1px;
  height: 57.71px;
  position: absolute;
  left: 1047.55px;
  top: 484.29px;
}
.jomellir-cameros {
  color: #eae8ff;
  text-align: left;
  font: 600 19px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 508.64px;
  width: 249.55px;
  height: 25.65px;
}
._8-am {
  color: #eae8ff;
  text-align: left;
  font: 500 15px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 921.38px;
  top: 491.54px;
  width: 78.59px;
  height: 25.65px;
}
.user-option {
  width: 9.65px;
  height: 30.99px;
  position: static;
}
.ellipse-2 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 496.88px;
}
.ellipse-3 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 508.64px;
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 520.4px;
}
.next-appoinments-1 {
  width: 471.52px;
  height: 83.36px;
  position: static;
}
.rectangle-18 {
  background: rgba(234, 232, 255, 0.5);
  border-radius: 10px;
  width: 471.52px;
  height: 83.36px;
  position: absolute;
  left: 1031.51px;
  top: 572.77px;
}
.rectangle-21 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 84.1px;
  height: 57.71px;
  position: absolute;
  left: 1045.28px;
  top: 585.59px;
}
.ronalisa-alonzo {
  color: #491d72;
  text-align: left;
  font: 600 19px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 613.38px;
  width: 249.55px;
  height: 25.65px;
}
._9-am {
  color: #491d72;
  text-align: left;
  font: 500 15px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 1155.58px;
  top: 593.07px;
  width: 78.59px;
  height: 25.65px;
}
.ellipse-22 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 598.42px;
}
.ellipse-32 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 610.17px;
}
.ellipse-42 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 621.93px;
}
.next-appoinment-2 {
  width: 471.52px;
  height: 83.36px;
  position: static;
}
.rectangle-19 {
  background: rgba(234, 232, 255, 0.5);
  border-radius: 10px;
  width: 471.52px;
  height: 83.36px;
  position: absolute;
  left: 1031.51px;
  top: 715.98px;
}
.rectangle-22 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 84.1px;
  height: 57.71px;
  position: absolute;
  left: 1045.28px;
  top: 728.81px;
}
.neil-pinanonang {
  color: #491d72;
  text-align: left;
  font: 600 19px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 753.39px;
  width: 249.55px;
  height: 25.65px;
}
._8-am2 {
  color: #491d72;
  text-align: left;
  font: 500 15px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 1155.58px;
  top: 736.29px;
  width: 78.59px;
  height: 25.65px;
}
.ellipse-23 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 741.63px;
}
.ellipse-33 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 753.39px;
}
.ellipse-43 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 765.15px;
}
.next-appoinment-3 {
  width: 471.52px;
  height: 83.36px;
  position: static;
}
.rectangle-23 {
  background: rgba(234, 232, 255, 0.5);
  border-radius: 10px;
  width: 471.52px;
  height: 83.36px;
  position: absolute;
  left: 1031.51px;
  top: 817.52px;
}
.rectangle-24 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 84.1px;
  height: 57.71px;
  position: absolute;
  left: 1045.28px;
  top: 830.34px;
}
.nino-diamano {
  color: #491d72;
  text-align: left;
  font: 600 19px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 858.13px;
  width: 249.55px;
  height: 25.65px;
}
._9-am2 {
  color: #491d72;
  text-align: left;
  font: 500 15px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 1155.58px;
  top: 837.82px;
  width: 78.59px;
  height: 25.65px;
}
.ellipse-24 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 843.17px;
}
.ellipse-34 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 854.92px;
}
.ellipse-44 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 866.68px;
}
.group-23 {
  width: 471.52px;
  height: 83.36px;
  position: static;
}
.rectangle-25 {
  background: rgba(234, 232, 255, 0.5);
  border-radius: 10px;
  width: 471.52px;
  height: 83.36px;
  position: absolute;
  left: 1031.51px;
  top: 919.05px;
}
.rectangle-26 {
  background: #d9d9d9;
  border-radius: 5px;
  width: 84.1px;
  height: 57.71px;
  position: absolute;
  left: 1045.28px;
  top: 931.88px;
}
.karen-peteros {
  color: #491d72;
  text-align: left;
  font: 600 19px "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 1156.97px;
  top: 959.66px;
  width: 249.55px;
  height: 25.65px;
}
._10-am {
  color: #491d72;
  text-align: left;
  font: 500 15px "Montserrat-Medium", sans-serif;
  position: absolute;
  left: 1155.58px;
  top: 939.36px;
  width: 78.59px;
  height: 25.65px;
}
.ellipse-25 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 944.7px;
}
.ellipse-35 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 956.46px;
}
.ellipse-45 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 9.65px;
  height: 7.48px;
  position: absolute;
  left: 1475.46px;
  top: 968.21px;
}
.next-appoinment-4 {
  width: 471.52px;
  height: 83.36px;
  position: static;
}
